.container {
  padding-top: 5px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 1vmin);
  color: white;
}

.enemyBoard {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.row {
  display: flex;
  flex-direction: row;
}

.eSquare {
  border: 1px solid mediumorchid;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 16px;
  background-color: #282c34;
  color: white;
}

.mySquare {
  border: 1px solid royalblue;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 16px;
  background-color: #282c34;
  color: white;
}

.boards {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

span {
  align-self: center;
}

.reset {
  padding-top: 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
